*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body,
textarea {
  height: 100%;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.wrapper {
  min-height: fit-content;
  overflow: hidden;
}

.button {
  position: relative;
  z-index: 10;
  padding: 12px 15px;
  width: 100%;
  background-color: #f2726f;
  color: white;
  text-align: center;
  border-radius: 8px;
  filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24))
    drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
  transition: 0.3s ease-in;
  cursor: pointer;
}

.button__text {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 200%;
  font-weight: 700;
  white-space: nowrap;
}

.button:hover {
  background-color: #fff;
  color: #f2726f;
}

.hero {
  background-image: url("../img/hero/bg_01.png");
  background-position: center;
  background-size: cover;
  background-color: #2bc0be;
  min-height: 800px;
  padding-top: 25px;
}

.container {
  max-width: 1060px;
  padding: 0 20px;
  margin: 0 auto;
}

.hero__header {
  display: flex;
  color: white;
  justify-content: space-between;
  margin-bottom: 28px;
}

.hero__logo-icon {
  max-width: 175px;
}

.hero__info {
  display: flex;
  gap: 30px;
}

@media only screen and (max-device-width: 768px) {
  .hero__header {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .hero__info {
    margin: 0 auto;
  }
}

@media only screen and (max-device-width: 440px) {
  .hero__header {
    align-items: flex-start;
  }

  .hero__info {
    flex-direction: column;
    margin: 0 0;
  }
}

.hero__boarding-hours,
.hero__telephone {
  display: flex;
  gap: 10px;
}

.hero__boarding-hours-icon,
.hero__telephone-icon {
  width: 25px;
}

.hero__boarding-hours-text,
.hero__telephone-text {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.hero__text-first-line {
  text-transform: uppercase;
}

.hero__text-second-line,
.hero__text-first-line {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}

.button-div {
  width: 210px;
}

.hero__navbar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 48px 10px 40px;
  border-radius: 8px;
  margin-bottom: 124px;
}

.hero__navbar-items {
  display: flex;
  gap: 36px;
  align-items: center;
}

.hero__burger-lines-check {
  display: none;
}

.hero__burger-lines {
  display: none;
}

.hero__burger-line {
  display: none;
}

@media only screen and (max-device-width: 712px) {
  .hero__navbar {
    justify-content: end;
  }

  .hero__navbar-items {
    display: none;
  }

  .hero__burger-lines-check {
    display: block;
    width: 80px;
    height: 60px;
    position: absolute;
    top: 170px;
    left: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 3;
  }

  .hero__burger-lines {
    display: block;
    position: absolute;
    top: 184px;
    left: 50px;
    z-index: 2;
  }

  .hero__burger-line {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 6px;
    background: #4b4b4b;
    opacity: 0.9;
    border-radius: 3px;
    z-index: 2;
    transform-origin: 4px 0px;
    transition: transform 0.5s ease, background 0.5s ease, opacity 0.55s ease;
  }

  .hero__burger-lines-check:checked
    ~ .hero__burger-lines
    .hero__burger-line:nth-last-child(3) {
    transform: rotate(45deg);
    width: 33px;
  }

  .hero__burger-lines-check:checked
    ~ .hero__burger-lines
    .hero__burger-line:nth-last-child(2) {
    opacity: 0;
  }

  .hero__burger-lines-check:checked
    ~ .hero__burger-lines
    .hero__burger-line:nth-last-child(1) {
    width: 33px;
    transform: rotate(-45deg) translate(-1px, -2px);
  }

  .hero__burger-lines-check:checked ~ .hero__burger-lines .hero__burger-line {
    background-color: #4b4b4b;
  }
}

@media only screen and (max-device-width: 440px) {
  .hero__burger-lines {
    top: 258px;
  }

  .hero__burger-lines-check {
    top: 238px;
  }
}

.hero__navbar-item {
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.15px;
  align-items: center;
}

.hero__navbar-item-link {
  color: #000000;
}

.hero__navbar-item-link:hover {
  color: #f2726f;
}

.hero__expand-icon {
  width: 16px;
  vertical-align: text-bottom;
}

.hero__navbar-utility-buttons {
  display: flex;
  gap: 24px;
  align-items: center;
}

.hero__navbar-search,
.hero__navbar-cart {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}

.hero__navbar-cart-number-circle-div {
  position: relative;
}

.hero__navbar-search {
  background-image: url("../img/hero/search_24px.svg");
}

.hero__navbar-cart {
  background-image: url("../img/hero/shopping_cart_24px.svg");
}

.hero__navbar-search:hover,
.hero__navbar-cart:hover {
  filter: invert(85%) sepia(46%) saturate(6730%) hue-rotate(317deg)
    brightness(105%) contrast(89%);
}

.hero__navbar-cart-number-circle {
  position: absolute;
  background-color: #f2726f;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  top: -6px;
  right: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__navbar-cart-number {
  font-weight: 500;
  font-size: 10px;
  line-height: 22px;
  color: #ffffff;
}

@media only screen and (max-device-width: 839px) {
  .header-button {
    display: none;
  }
}

.hero__title-div {
  max-width: 583px;
  margin-bottom: 48px;
}

.hero_title {
  font-weight: 900;
  font-size: 56px;
  line-height: 56px;
  color: #ffffff;
}

@media only screen and (max-device-width: 768px) {
  .hero__title-div {
    max-width: 400px;
  }

  .hero_title {
    font-size: 32px;
    line-height: 32px;
  }
}

.hero__navbar-burger-items {
  display: none;
}

@media only screen and (max-device-width: 712px) {
  .hero__navbar-burger-items {
    position: absolute;
    display: none;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 40px 20px 30px;
    border-radius: 0 0 10px 10px;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
  }

  .hero__navbar-burger-item-link:hover {
    color: #f2726f;
  }

  .hero__burger-lines-check:checked ~ .hero__navbar-burger-items {
    display: flex;
    opacity: 1;
  }
}

@media only screen and (max-device-width: 712px) {
  .hero__navbar-burger-items {
    top: 210px;
    left: 20px;
  }
}

@media only screen and (max-device-width: 440px) {
  .hero__navbar-burger-items {
    top: 280px;
    left: 20px;
  }
}

.who-we-are {
  min-height: 800px;
  position: relative;
  margin-bottom: 50px;
}

.who-we-are__absolute-div {
  width: 100%;
  position: absolute;
  top: -80px;
  min-height: 800px;
}

@media only screen and (max-device-width: 768px) {
  .who-we-are {
    min-height: 600px;
    margin-bottom: 0;
  }

  .who-we-are__absolute-div {
    min-height: 600px;
  }
}

@media only screen and (max-device-width: 440px) {
  .who-we-are {
    min-height: 650px;
    margin-bottom: 20px;
  }

  .who-we-are__absolute-div {
    min-height: 650px;
  }
}

@media only screen and (max-device-width: 340px) {
  .who-we-are {
    min-height: 750px;
  }

  .who-we-are__absolute-div {
    min-height: 750px;
  }
}

@media only screen and (max-device-width: 300px) {
  .who-we-are {
    min-height: 850px;
  }

  .who-we-are__absolute-div {
    min-height: 850px;
  }
}

.who-we-are__main-div {
  background-color: #484c9a;
  border-radius: 20px;
  padding: 100px 88px 40% 88px;
  position: relative;
  min-height: 700px;
}

@media only screen and (max-device-width: 768px) {
  .who-we-are__absolute-div {
    min-height: 500px;
  }

  .who-we-are__main-div {
    padding: 50px 40px 40% 40px;
    min-height: 500px;
  }
}

.title {
  margin-bottom: 32px;
  padding-left: 35px;
}

@media only screen and (max-device-width: 768px) {
  .title {
    margin-bottom: 20px;
  }
}

.title-text {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 2.5px;
  font-weight: 700;
  text-transform: uppercase;
}

.title_light {
  position: relative;
  color: #f5f5f5;
}

.title_light::before {
  position: absolute;
  left: -40px;
  top: -7px;
  content: "";
  background-image: url("/img/mark.svg");
  background-size: 28px 28px;
  height: 28px;
  width: 28px;
}

.title_dark {
  position: relative;
  color: #5d62b5;
}

.title_dark::before {
  position: absolute;
  left: -40px;
  bottom: -6px;
  content: "";
  background-image: url("/img/mark.svg");
  background-size: 28px 28px;
  height: 28px;
  width: 28px;
  filter: invert(41%) sepia(7%) saturate(5530%) hue-rotate(200deg)
    brightness(89%) contrast(77%);
}

.subtitle {
  max-width: 584px;
  margin-bottom: 36px;
}

@media only screen and (max-device-width: 768px) {
  .subtitle {
    margin-bottom: 20px;
  }
}

.subtitle-text {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
}

@media only screen and (max-device-width: 768px) {
  .subtitle-text {
    font-size: 24px;
    line-height: 36px;
  }
}

.subtitle_light {
  color: #ffffff;
}

.subtitle_dark {
  color: #000000;
}

.who-we-are__text-div {
}

.who-we-are__text {
  color: #f5f5f5;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  font-weight: 400;
}

.who-we-are__blob {
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 8%;
}

.who-we-are__circles {
  position: absolute;
  width: 200px;
  top: -108px;
  right: -76px;
}

.who-we-are__doggo {
  position: absolute;
  max-width: 82%;
  right: 9%;
  bottom: -15%;
}

@media only screen and (max-device-width: 1200px) {
  .who-we-are__circles {
    right: -1%;
  }
}

@media only screen and (max-device-width: 900px) {
  .who-we-are__circles {
    top: -50%;
  }
}

@media only screen and (max-device-width: 460px) {
  .who-we-are__circles {
    display: none;
  }
}

@media only screen and (max-device-width: 600px) {
  .who-we-are__doggo {
    bottom: -10%;
  }
}

.our-promise {
  min-height: 448px;
}

.our-promise__subtitle {
  margin-bottom: 68px;
}

.our-promise__cards {
  position: relative;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.our-promise__card {
  display: flex;
  gap: 22px;
  max-width: 324px;
}

.our-promise__card-icon-div {
}

.our-promise__card-icon {
  width: 64px;
}

.our-promise__card-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 235px;
}

.our-promise__card-text-title-div {
}

.our-promise__card-text-title {
  font-weight: 900;
  font-size: 19px;
  line-height: 26px;
  color: #f2726f;
}

.our-promise__card-text-paragraph-div {
}

.our-promise__card-text-paragraph {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #4b4b4b;
}

.our-promise__dashed-div {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: -10px;
  left: 80px;
  right: 0;
  width: 100px;
  height: 100px;
  border: 1px dashed black;
}

.video {
  position: relative;
  min-height: 500px;
  background-color: #29c3be;
  z-index: 3;
}

.video__circles {
  position: absolute;
  height: 30vmax;
  top: 8vmax;
  z-index: 1;
}

.video__blob {
  position: absolute;
  height: 20vmax;
  z-index: 2;
}

.video__pup {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 62vmin;
  z-index: 2;
}

.video__ball {
  position: absolute;
  top: 0;
  height: 30vmax;
  right: 0;
  z-index: 1;
}

.video__main-div {
  width: 100%;
  padding-top: 100px;
  display: flex;
  justify-content: flex-end;
}

.video__right-block {
}

.video__title {
  position: relative;
  max-width: 411px;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  margin-bottom: 42px;
  z-index: 5;
}

.our-services {
  background-color: #f5f5f5;
  min-height: 1220px;
  position: relative;
}

.our-services__blob {
  position: absolute;
  width: 516px;
  z-index: 1;
  right: 0;
  top: -500px;
}

.our-services__container {
  padding-top: 110px;
  padding-bottom: 122px;
}

.our-services__title {
  position: relative;
  margin-bottom: 32px;
  z-index: 1;
}

.our-services__subtitle {
  position: relative;
  margin-bottom: 76px;
  z-index: 1;
}

.our-services__cards {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 66px;
  justify-content: center;
  z-index: 3;
}

.our-services__card {
  padding: 50px 44px;
  max-width: 324px;
  min-height: 340px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-services__card_selected {
  filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24))
    drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
}

.our-services__card-icon-div {
  width: 64px;
  margin-bottom: 32px;
}

.our-services__card-icon {
  width: 100%;
}

.our-services__card-title-div {
  margin-bottom: 20px;
  text-align: center;
  color: #f2726f;
  font-weight: 900;
  font-size: 19px;
  line-height: 26px;
}

.our-services__card-title {
}

.our-services__card-text-div {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #4b4b4b;
}

.our-services__card-text {
}

.our-service-button {
  width: 124px;
  margin: 0 auto;
}

.appointment {
  position: relative;
  background-image: url("/img/appointment/bg.png");
  background-position: center;
  background-size: cover;
  min-height: 980px;
  padding: 110px 0 300px;
}

.appointment__main-div {
  display: flex;
  flex-wrap: wrap;
  gap: 112px;
  row-gap: 200px;
  z-index: 5;
  position: relative;
  justify-content: center;
  max-width: 100%;
}

.appointment__form-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #5d62b5;
  max-width: 584px;
  padding: 76px 56px;
  border-radius: 40px;
  filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24))
    drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
  z-index: 4;
  align-items: center;
}

.appointment__form-div-blob {
  position: absolute;
  top: 0;
  width: 800px;
  height: 900px;
  background-image: url("/img/appointment/blob.png");
  background-position: center;
  background-size: cover;
  z-index: 2;
}

.appointment__form-div-circles {
  position: absolute;
  top: 20%;
  left: 5vmin;
  width: 335px;
  height: 566px;
  background-image: url("/img/appointment/circles.png");
  background-position: center;
  background-size: cover;
  z-index: 1;
}

@media screen and (max-device-width: 620px) {
  .appointment__form-div-circles {
    top: 30%;
  }

  .appointment__form-div-blob {
    top: 10%;
  }
}

.appointment__form-header-div {
  width: 100%;
  text-align: center;
  margin-bottom: 42px;
  z-index: 4;
}

.appointment__form-header {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  margin: 0 auto;
}

.appointment__form-data-area {
  display: flex;
  gap: 22px;
  flex-wrap: wrap;
  margin-bottom: 22px;
}

.appointment__form-data-area-input {
  max-width: 224px;
  height: 48px;
  opacity: 0.8;
  border-radius: 15px;
  border-color: #dfe0f0;
  background-color: #5d62b5;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  border-style: solid;
  padding: 16px 24px;
  outline-color: #dfe0f0;
}

@media screen and (max-device-width: 620px) {
  .appointment__form-data-area-input {
    max-width: 100%;
    width: 100%;
  }
}

.appointment__form-data-area-input_large {
  width: 100%;
  max-width: 470px;
  height: 180px;
  opacity: 0.8;
  margin-bottom: 30px;
  border-radius: 15px;
  border-color: #dfe0f0;
  background-color: #5d62b5;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  border-style: solid;
  padding: 16px 24px;
  vertical-align: top;
  resize: none;
  outline-color: #dfe0f0;
  border-width: 2px;
}

@media screen and (max-device-width: 620px) {
  .appointment__form-data-area-input_large {
    max-width: 100%;
    width: 100%;
  }
}

.apointment__form-button-div {
  display: flex;
  justify-content: end;
}
.appointment__form-button {
  width: 210px;
}

.appointment__text {
  color: #ffffff;
  max-width: 324px;
  display: flex;
  flex-direction: column;
  gap: 46px;
  justify-content: center;
}

.appointment__text-title-div {
  text-align: center;
}

.appointment__text-title {
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
}
.appointment__text-main-number-div {
  text-align: center;
}

.appointment__text-main-number {
  font-weight: 900;
  font-size: 96px;
  line-height: 56px;
}
.appointment__text-main-number-desc-div {
  text-align: center;
}

.appointment-main-number-desc {
  font-weight: 900;
  font-size: 19px;
  line-height: 26px;
}

.gallery {
  min-height: 810px;
  position: relative;
  background-color: #f5f5f5;
}

.gallery__absolute-block {
  position: absolute;
  width: 100%;
  top: -100px;
}

.gallery__main-block-div {
  min-height: 700px;
  background-color: #5d62b5;
  border-radius: 40px;
  padding: 100px 88px;
  width: 100%;
  position: relative;
}

@media screen and (max-device-width: 613px) {
  .gallery {
    min-height: 1000px;
  }

  .gallery__main-block-div {
    padding: 40px 40px;
  }
}

@media screen and (min-device-width: 613px) and (max-device-width: 920px) {
  .gallery {
    min-height: 900px;
  }

  .gallery__main-block-div {
    min-height: 750px;
  }
}

.gallery__main-block-title {
}

.gallery__main-block-subtitle {
  margin-bottom: 56px;
}

.gallery__main-block-menu {
  display: flex;
  flex-wrap: wrap;
  row-gap: 42px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 15px;
}

@media screen and (min-device-width: 613px) and (max-device-width: 920px) {
  .gallery__main-block-menu {
    justify-content: space-evenly;
    border-bottom: 0px;
  }
}

.gallery__main-block-menu-item-div {
  padding: 0 30px;
}

.gallery__main-block-menu-item {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.15px;
  font-weight: 400;
  color: #ffffff;
  margin: 0 auto;
  white-space: nowrap;
}

@media screen and (max-device-width: 613px) {
  .gallery__main-block-menu {
    flex-direction: column;
  }

  .gallery__main-block-menu {
    border-bottom: 0;
  }

  .gallery__main-block-menu-item-div {
    padding: 0;
  }

  .gallery__main-block-menu-item-div {
    display: inline-block;
    width: fit-content;
  }
}

#gallery__menu_gallery,
#gallery__menu_stream-1,
#gallery__menu_stream-2,
#gallery__menu_stream-3 {
  position: relative;
}

.gallery__stream {
  position: relative;
}

.gallery__stream::after {
  content: "";
  position: absolute;
  top: -4px;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #d5d5d5;
}

.gallery__stream_live {
}

.gallery__stream_live::after {
  content: "";
  position: absolute;
  top: -4px;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #62b58f;
}

.gallery__main-block-image-absolute {
  position: absolute;
  bottom: -120px;
  left: 88px;
  right: 88px;
}

@media screen and (max-device-width: 613px) {
  .gallery__main-block-image-absolute {
    position: absolute;
    bottom: -280px;
    left: 10px;
    right: 10px;
  }
}

.gallery__main-block-image-size-div {
  max-width: 846px;
}

.gallery__main-block-image-div {
  width: 100%;
  background-image: url("/img/gallery/stream_01.png");
  background-position: center;
  background-size: cover;
  min-height: 480px;
  filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24))
    drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
  border-radius: 40px;
}

.gallery__main-block-image {
}

.gallery__main-block-live-badge {
  position: relative;
}

.gallery__main-block-live-badge::after {
  content: "Live";
  position: absolute;
  top: 30px;
  right: 32px;
  width: 68px;
  height: 30px;
  filter: drop-shadow(0px 6px 12px rgba(38, 38, 38, 0.24))
    drop-shadow(0px 12px 24px rgba(38, 38, 38, 0.2));
  border-radius: 15px;
  background-color: #62b58f;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.15px;
  color: #ffffff;
}

.our-customers {
  position: relative;
  background-color: #f5f5f5;
  padding-top: 20px;
  min-height: 590px;
}

.our-customers__blob {
  position: absolute;
  top: -600px;
  left: 0px;
  background-image: url("/img/our-customers/blob_001.png");
  background-position: center;
  background-size: cover;
  background-size: 1000px 100px;
  height: 1000px;
  width: 100px;
  z-index: -1;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.our-customers__main-block {
  display: flex;
  gap: 24px;
  z-index: 2;
}

.our-customers__title-and-subtitle {
  max-width: 324px;
}

.our-customers__title {
}

.our_customers__subtitle {
}

.our-customers__block {
  max-width: 324px;
  padding: 45px 45px 40px 45px;
  background: #ffffff;
  border-radius: 20px;
}

.our-customers__text-block-div {
  margin-bottom: 30px;
}

.our-customers__text-block {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #4b4b4b;
}

.our-customers__text-author-div {
  display: flex;
  align-items: center;
  gap: 18px;
}

.our-customers__text-author-img_first {
  background-image: url("/img/our-customers/portrait_001.png");
  background-position: center;
  background-size: cover;
  background-size: 48px 48px;
  height: 48px;
  width: 48px;
}

.our-customers__text-author-img_second {
  background-image: url("/img/our-customers/portrait_002.png");
  background-position: center;
  background-size: cover;
  background-size: 48px 48px;
  height: 48px;
  width: 48px;
}

.our-customers__text-author-name-div {
}

.our-customers__text-author-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #f2726f;
}

.our-impact {
  background-color: #29c3be;
  max-height: 610px;
  margin-bottom: 82px;
}

.our-impact__relative-div {
  position: relative;
  width: 100%;
}

.our-impact__dog-picture {
  position: absolute;
  top: -80px;
  right: 0;
  background-image: url("../img/our-impact/dog_001.png");
  background-position: center;
  background-size: cover;
  width: 496px;
  height: 316px;
  border-radius: 40px;
  z-index: 2;
}

.our-impact__blob {
  position: absolute;
  top: 0;
  right: -140px;
  background-image: url("../img/our-impact/blob_01.png");
  background-position: center;
  background-size: cover;
  width: 760px;
  height: 280px;

  z-index: 1;
}

.main-div {
  padding: 112px 0 212px;
}

.our-impact-title {
}

.our_impact__subtitle {
  max-width: 412px;
  margin-bottom: 80px;
}

.our-impact__impact-data {
  display: flex;
  gap: 24px;
}

.our-impact__impact-data-piece {
  display: flex;
  gap: 12px;
  width: 236px;
}

.our-impact__impact-data-piece-icon-div {
  max-width: 76px;
}

.our-impact__impact-data-piece-icon {
  width: 100%;
}

.our-impact__impact-data-piece-text-div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.our-impact__impact-data-piece-text-number-div {
}

.our-impact__impact-data-piece-text-number {
  font-weight: 900;
  font-size: 36px;
  line-height: 117%;
  color: #ffffff;
}

.our-impact__impact-data-piece-text-desc-div {
}

.our-impact__impact-data-piece-text-desc {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #5d62b5;
  white-space: nowrap;
}

.our-impact__bottom-div {
  position: absolute;
  bottom: -60px;
  width: 100%;
  background-color: #5d62b5;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px 76px 46px 72px;
}

.our-impact__bottom-div-text-div {
  max-width: 560px;
}

.our-impact__bottom-div-text {
  font-weight: 900;
  font-size: 24px;
  line-height: 125%;
  color: #ffffff;
}

.our-impact__bottom-div-button {
}

.bottom-links {
  padding: 78px 0 124px;
}

.bottom-links__main-block {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.bottom-links__description-block {
  max-width: 235px;
}

.bottom-links__logo-block {
  margin-bottom: 24px;
}

.bottom-links__logo {
  max-width: 100%;
}

.bottom-links__desc-block {
  margin-bottom: 32px;
}

.bottom-links__desc {
  font-weight: normal;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.15px;
  color: #4b4b4b;
}

.bottom-links__social-media-links-block {
  width: 100%;
}

.bottom-links__social-media-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  max-width: 150px;
}

.bottom-links__social-media-link-block {
}

.bottom-links__social-media-link {
  max-width: 24px;
}

.bottom-links__social-media-icon {
  width: 100%;
}

.bottom-links__explore-links-block {
  font-weight: bold;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.15px;
  max-width: 290px;
  display: flex;
  flex-direction: column;
}

.bottom-links__explore-links-header-block,
.bottom-links__contacts-header-block {
  height: 60px;
  padding-top: 15px;
}

.bottom-links__explore-link-header {
  color: #4b4b4b;
}

.bottom-links__explore-links {
  display: flex;
  flex-wrap: wrap;
  gap: 112px;
}

.bottom-links__explore-links-column {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.bottom-links__explore-link-block {
}

.bottom-links__explore-link {
  color: #4b4b4b;
}

.bottom-links__contacts-block {
  display: flex;
  flex-direction: column;
}

.bottom-links__contacts-header {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.15px;
  color: #4b4b4b;
}

.bottom-links__contacts-list-block {
}

.bottom-links__contacts-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.bottom-links__contacts-item {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.bottom-links__contacts-item-icon-block {
  padding-top: 4px;
}

.bottom-links__contacts-item-icon {
}

.bottom-links__contacts-item-desc-block {
  max-width: 200px;
}

.bottom-links__contacts-item-desc {
  font-weight: normal;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.15px;
  color: #4b4b4b;
}

.footer {
  max-height: 60px;
  padding: 24px 0 18px;
  background-color: #5d62b5;
}

.footer__main-block {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #ffffff;
}

.footer__tagline-block {
}

.footer__tagline {
}

.footer__policy-block {
  display: flex;
  gap: 8px;
}

.footer__company-name-block {
}

.footer__company-name {
}

.footer__privacy-policy-block {
}

.footer__privacy-policy-link,
.footer__terms-conditions-link {
  color: #ffffff;
  font-weight: 700;
}

.footer__terms-conditions-block {
}
